<div class="wrapper">
  <div class="body">
    <img class="logo" src="../../../assets/img/login.png" alt="" />
    <h1>Registra-se</h1>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" placeholder="name@example.com" />
      <label>Email</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" placeholder="Senha" />
      <label>Senha</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" placeholder="Confirmar senha" />
      <label>Confirmar senha</label>
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-primary btn-lg" type="button">Registrar</button>
    </div>
    <a class="mt-3" routerLink="/login">Voltar</a>
  </div>
</div>
